 /* Cabeçalho */ 
 
.col-md-6 {
    margin-left: auto;
}

.navbar {

    background-color: #3a3f46;
}

.nav-item a{

    color: white;
}


 /* Cabeçalho */ 
.productcenter{


    margin-left: 20%;
    width: 60%;
    transition: transform .1s;
}

.productcenter:hover {
    
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

    /* Opção Filtro */

.dropdown_rs1 button{
 

    border: none;
    margin-left: 20%;
}   

.dropdown button {

    border: none;
    box-shadow: none;

}

.menudrop {

    
    margin-top: 2%;
    display: inline-flex;

}

    /* Texto "Confira nossos produtos" */
.lay {

    margin-bottom: -20%;
    margin-left: 25px;
}

    /* Texto "Confira nossos produtos" */


/* Opção Filtro fim*/

/* Cabeçalho CSS  */ 
 
#myFooter {
    background-color: #3a3f46;
    color: white;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info {
    text-align: justify;
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo {
    margin-top: 10px;
}

#myFooter .second-bar .logo a {
    color: white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float: right;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    
    #myFooter .info {
        text-align: center;
    }
}

html {

    height: 100%;
}

body {

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content {

    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

    /* fim Cabeçalho CSS  */ 

    /* Carrossel */


.carousel-item img {
    
    max-width: 130%;
    max-height: 30%;
  
}
     /*Produtos */ 

.card-body p {

    font-size: 100%;
    
}

.card-body h2 {
    
    color: rgb(59, 3, 12);
}
    
body {
    background-color: #ebebeb
}

.sale {
    flex-direction: row-reverse
}

.card {
    width: fit-content
}

.card-body {
    width: fit-content
}

.btn {
    border-radius: 0;
    width: fit-content;
    background-color: #da0a25;
    z-index: 1;
    color: white;
    width: 100px;
    font-size: 14px;
    font-weight: 900
}

.img-thumbnail {
    border: none;
}

.card {

    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px
}

    /* FIM Produtos */ 

 /* Barra de pesquisa */ 

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.height {
    height: 180px;
}

.search {
    position: relative;
    box-shadow: 0 0  10px rgba(165, 149, 149, 0.959)
}

.search input {
    

    height: 40px;
    text-indent: 25px;
    border: none
}


.search .fa-search {
    
    position: absolute;
    top: 20px;
    left: 16px
}


.search button {
    box-shadow: none;
    border-radius: 2px;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    width: 80px;
    background: rgb(224, 3, 58)
}

    /* Fim barra de pesquisa  */  

/* Página de produto CSS*/ 

    .fs-4 h4{

        color: rgb(5, 153, 50);
    }

    .col-md-7 img{
        
        border-radius: 10%;
        width: 60%;
        margin-left: 31.5%;
    }

   /* FIM Página de produto CSS*/ 